body{
    background-color: darkgrey;   
}

table{
    text-align: center;
}

#line{
    height: 2px;
    background-color: dimgrey;
}
input, select {
    margin: 1px;
    padding-left: 30px;
    border: none;
    padding: 4px;
    border-radius: 5px;
}

button{
   padding: 5px;
    border: none;
    border-radius: 5px;
    
}

p{
    color: darkred;
}

button:hover{
    cursor:pointer;
}
